:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light;
	background-image: url("./assets/sky.png");
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #2b35ec;
}

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	font-size: 3.5vh;
  box-shadow: 4px 4px;
  background-color: rgba(231, 231, 231, 0.87);
}


.product-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
  font-size: 2vh;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.87);
}

.product-list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 4px 4px;
	margin: 8px;
  word-break: break-word;
}

.product-card:hover {
  transform: translateY(-2vh);
  transition: transform 0.2s ease 0s;
  overflow: hidden;
}

.product-text {
  display: flex;
	flex-direction: column;
	text-align: center;
	padding: 8px 8px 0px 8px;
  word-break: break-word;
}

.category-filter {
  font-size: 2vh;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(200, 200, 200, 0.87);
  font-weight: bold;
  margin-left: 5vh;
  padding: 1vh;
}

.category-filter:hover {
  background-color: rgba(180, 180, 180, 0.87);
}

.back-button {
  font-size: 2vh;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(32, 197, 10, 0.87);
  font-weight: bold;
  max-width: 20vh;
  padding: 1.4vh;
  margin-top: 8px;
  margin-bottom: 8px;
}

.back-button:hover {
  background-color: rgba(24, 145, 8, 0.87);
}

.product-name {
	font-size: calc(.5em + 1vw);
}

.product-image {
	width: 100%;
	height: 100%;
}

.product-details-image {
	width: 50%;
	height: 50%;
}

.product-description {
	font-size: calc(.5em + 1vw);
}

.product-price {
	font-size: calc(.5em + 1vw);
}

.product-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 1fr));
	grid-gap: 8px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
	align-items: center;
	justify-content: center;
}

.product-details {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.87);
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px;
  max-width: 50%;
}

.product-details-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.87);
  align-items: center;
  justify-content: left;
  box-shadow: 4px 4px;
}


@media screen and (max-width: 920px) {
	.product-list {
		display: grid;
		grid: auto auto / auto auto;
		align-items: center;
		justify-content: center;
	}
  .product-details {
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
	/* For mobile phones: */
	.product-list {
		display: grid;
		grid: auto / auto;
		align-items: center;
		justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
	}
  .product-name {
	font-size: calc(.5em + 1.5vw);
  }
  .product-price {
    font-size: calc(.5em + 1.5vw);
  }
}